Assignment 1 Questions - Arrays | DSA

<aside>
ðŸ’¡ **Q1.** Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

**Example:**
Input: nums = [2,7,11,15], target = 9
Output0 [0,1]

**Explanation:** Because nums[0] + nums[1] == 9, we return [0, 1][

</aside>

In [1]:


#Iterate through the array from left to right.
#For each element nums[i], calculate the complement by subtracting it from the target



def twosum(nums, target):
    d = {} #Create an empty dictionary to store the elements of the array and their indices.
    for i in range(len(nums)):#Iterate through the array from left to right.
        complement = target[0] - nums[i] #For each element nums[i], calculate the complement by subtracting it from the target9 (9-2=7 (7,2),9-7=2,(2,7)9-11=-2,(-2,9),9-15=-8,(-8,9))
        if complement in d:#Check if the complement exists in the dictionary
            print([d[complement], i]) #7,0
            return [d[complement], i]#return the indices of the current element and its complement from the dictionary.
        else:
            d[nums[i]] = i#else current element to the dictionary with its index.,11,3

In [2]:
# Example usage
nums = [2, 7, 11, 15]
target = [9]
result = twosum(nums, target)
print(result)  # Output: [0, 1]

[0, 1]
[0, 1]

<aside>
ðŸ’¡ **Q2.** Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. The order of the elements may be changed. Then return the number of elements in nums which are not equal to val.

Consider the number of elements in nums which are not equal to val be k, to get accepted, you need to do the following things:

- Change the array nums such that the first k elements of nums contain the elements which are not equal to val. The remaining elements of nums are not important as well as the size of nums.
- Return k.

**Example :**
Input: nums = [3,2,2,3], val = 3
Output: 2, nums = [2,2,_*,_*]

**Explanation:** Your function should return k = 2, with the first two elements of nums being 2. It does not matter what you leave beyond the returned k (hence they are underscores)[

</aside>

In [3]:
nums = [3, 2, 2, 3]
val = 3

def remove_occurance(nums, val):
    left = 0
    for right in range(len(nums)):
        if nums[right] != val:# 2!=3, If the element is not val
            nums[left] = nums[right] #2 add that element to the place of left.
            left += 1
    return left

result = remove_occurance(nums, val)
print(result)

2

<aside>
ðŸ’¡ **Q3.** Given a sorted array of distinct integers and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You must write an algorithm with O(log n) runtime complexity.

**Example 1:**
Input: nums = [1,3,5,6], target = 5

Output: 2

</aside>

In [4]:
nums=[1,3,5,6]
target=5
def target_index(nums,target):
    right=0
    for right in range(len(nums)):
        if nums[right] >= target:
          break
        right += 1
    return right


result = target_index(nums,target)
print('The index of the target is ',result)

The index of the target is  2

<aside>
ðŸ’¡ **Q4.** You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Increment the large integer by one and return the resulting array of digits.

**Example 1:**
Input: digits = [1,2,3]
Output: [1,2,4]

**Explanation:** The array represents the integer 123.

Incrementing by one gives 123 + 1 = 124.
Thus, the result should be [1,2,4].

</aside>

In [5]:
def increment_large_integer(digits):
  i=0
  output=[]
  for i in range(len(digits)):
    if digits[i]== digits[len(digits)-1]:
      digits[i]=digits[i]+1
    output.append(digits[i])
  return output

In [6]:
digits = [1,2,3]
#Output: [1,2,4]
result = increment_large_integer(digits)
print(result)

[1, 2, 4]

<aside>
ðŸ’¡ **Q5.** You are given two integer arrays nums1 and nums2, sorted in non-decreasing order, and two integers m and n, representing the number of elements in nums1 and nums2 respectively.

Merge nums1 and nums2 into a single array sorted in non-decreasing order.

The final sorted array should not be returned by the function, but instead be stored inside the array nums1. To accommodate this, nums1 has a length of m + n, where the first m elements denote the elements that should be merged, and the last n elements are set to 0 and should be ignored. nums2 has a length of n.

**Example 1:**
Input: nums1 = [1,2,3,0,0,0], m = 3, nums2 = [2,5,6], n = 3
Output: [1,2,2,3,5,6]

**Explanation:** The arrays we are merging are [1,2,3] and [2,5,6].
The result of the merge is [1,2,2,3,5,6] with the underlined elements coming from nums1.

</aside>

In [7]:
def merge_arrays(nums1, nums2):
    i = 0
    j = 0
    while i < len(nums1) and j < len(nums2):
        if nums1[i] == 0:
            nums1[i] = nums2[j]
            j += 1
        i += 1
    return nums1

nums1 = [1, 2, 3, 0, 0, 0]
nums2 = [2, 5, 6]
result = merge_arrays(nums1, nums2)
print(sorted(result))

[1, 2, 2, 3, 5, 6]

<aside>
ðŸ’¡ **Q6.** Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

**Example 1:**
Input: nums = [1,2,3,1]

Output: true

</aside>

In [13]:



def containsDuplicate(nums):
    seen = set()
    for num in nums:
        if num in seen:
            return True
        seen.add(num)
    return False

nums = [1, 2, 3, 1]
result = containsDuplicate(nums)
print(result)

True

<aside>
ðŸ’¡ **Q7.** Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the nonzero elements.

Note that you must do this in-place without making a copy of the array.

**Example 1:**
Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

</aside>

In [10]:
#Using two pointers : left pointer to find the index of the non zero number and right pointer for iteration

def moveZeros(nums):
    left = 0
    for right in range(len(nums)):
        if nums[right] != 0:
            nums[left], nums[right] = nums[right], nums[left]
            left += 1

nums = [0, 1, 0, 3, 12]
moveZeros(nums)
print("The order of the new list is:", nums)

The order of the new list is: [1, 3, 12, 0, 0]

<aside>
ðŸ’¡ **Q8.** You have a set of integers s, which originally contains all the numbers from 1 to n. Unfortunately, due to some error, one of the numbers in s got duplicated to another number in the set, which results in repetition of one number and loss of another number.

You are given an integer array nums representing the data status of this set after the error.

Find the number that occurs twice and the number that is missing and return them in the form of an array.

**Example 1:**
Input: nums = [1,2,2,4]
Output: [2,3]

</aside>

In [57]:
nums=[1,2,2,4]
numset=set()
duplicate=0
totalsum=0
for num in nums:
  if num not in numset:
    numset.add(num)
  else:
    duplicate =num
  totalsum=totalsum+num
#length of number
n=len(nums)
expected_sum=n * (n + 1) // 2
missing_value=expected_sum-(totalsum-duplicate)
l1= [duplicate, missing_value]
print(l1)

[2, 3]

In [24]:
nums=[1,2,2,4]
result=Numbertwice_NumMissing(nums)
print(result)

{0: 1, 1: 1, 2: 1, 3: 1}

In [ ]:
def Numbertwice_NumMissing(nums):
  d={}
  right=0
  for right in range(len(nums)):
    if nums[right] not in d:
      d[right]=1
    else:
      d[right] +=1
  return(d)